<div class="container footer"
    fxLayout="column"
    fxLayoutAlign="center center" 
    fxLayoutWrap 
    fxLayoutGap="10px">

    <div fxFlex="100%" fxFlexAlign="center center">
      <div style="text-align: center;">
        <p>© Copyright 2018 Daniel Moreira</p>
      </div>
    </div>  
</div>