<div class="container" fxLayoutAlign="center center">
  <mat-card fxFlex="100%" fxFlex.gt-sm="50%">
    <mat-card-header>
      <mat-card-title>
        <h3>Login to your account</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="full-width-children" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field>
          <input matInput placeholder="Username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? "visibility" : "visibility_off"}}</mat-icon>
        </mat-form-field>
      </div>      
    </mat-card-content>
    
    <mat-card-actions align="end">
      <button mat-raised-button>Login</button>
      <a mat-raised-button routerLink="/register">Register</a>
    </mat-card-actions>
  </mat-card>
</div>