<div class="container" fxLayoutAlign="center center" fxLayoutGap="10px">
  <mat-card fxFlex="100%" fxFlex.gt-sm="50%">
    <mat-card-header>
      <mat-card-title>
        <h3>Feel free to message us about the application or to report issues</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="full-width-children" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <input matInput placeholder="First name">
        </mat-form-field>
        
        <mat-form-field>
          <input matInput placeholder="Last name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="E-mail">
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Select a subject">
            <mat-option *ngFor="let subject of subjects" [value]="subject">
              {{subject}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput style="min-height: 150px;" placeholder="Comment"></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-raised-button>Send message</button>
    </mat-card-actions>
  </mat-card>  
</div>