<div class="wrapper">
    <div class="sub-wrapper">
        <mat-toolbar>
            <a fxShow="true" fxHide.lt-md="true" mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-money fa-lg"></span> Money Manager</a>
            <a fxShow="true" fxHide.lt-md="true" mat-button routerLink="/features" routerLinkActive="active"><span class="fa fa-cogs fa-lg"></span> Features</a>
            <a fxShow="true" fxHide.lt-md="true" mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About us</a>
            <a fxShow="true" fxHide.lt-md="true" mat-button routerLink="/contact" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
            <span fxFlex></span>
            <a fxShow="true" fxHide.lt-md="true" mat-button routerLink="/login"><span class="fa fa-sign-in fa-lg"></span> Login</a>

            <a fxShow="true" fxHide.gt-md="true" mat-button (click)="sidenav.toggle()">Show</a>
        </mat-toolbar>
            
        <mat-sidenav-container class="content">
            <mat-sidenav #sidenav mode="over">
                <div fxLayout="column" fxAlign="center center">
                    <a mat-button (click)="sidenav.close()" routerLink="/login"><span class="fa fa-sign-in fa-lg"></span> Login</a>
                    <a mat-button (click)="sidenav.close()" routerLink="/home" routerLinkActive="active"><span class="fa fa-money fa-lg"></span> Money Manager</a>
                    <a mat-button (click)="sidenav.close()" routerLink="/features" routerLinkActive="active"><span class="fa fa-cogs fa-lg"></span> Features</a>
                    <a mat-button (click)="sidenav.close()" routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span> About us</a>
                    <a mat-button (click)="sidenav.close()" routerLink="/contact" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span> Contact</a>
                </div>
            </mat-sidenav>
            
            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
        
        <app-footer></app-footer>
    </div>
</div>