@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
    padding: 0; 
    margin: 0; 
    font-family: Roboto, sans-serif;  
}

.container {
    display: flex;
    margin: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.full-width-children > * {
    width: 100%;
}