<div class="container" fxLayout="column" fxLayoutAlign="center center">
  
  <div class="container jumbotron">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <h1>Money Manager</h1>
      <p>Manage your money easily and efficiently using our web application</p>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px">
    <div fxLayout="row" *ngFor="let item of homeItems; let i = index">
      <img src="{{item.image}}" alt="" fxFlexOrder="{{i % 2}}"/>
      <div class="centered-text" fxLayout="column" fxFlexOrder="{{(i + 1) % 2}}">
        <h3>{{item.title}}</h3>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>

</div>