<div class="container" fxLayoutAlign="center center">
    <mat-card fxFlex="100%" fxFlex.gt-sm="50%">
      <mat-card-header>
        <mat-card-title>
          <h3>Register a new account</h3>
        </mat-card-title>
      </mat-card-header>
  
      <mat-card-content>
        <div class="full-width-children" fxLayout="column" fxLayoutAlign="center center">
          <mat-form-field>
            <input matInput placeholder="Choose an username" [formControl]="usernameInput" required>
            <mat-error *ngIf="usernameInput.hasError('required')">You must enter a value</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="First name" [formControl]="firstnameInput" required>
            <mat-error *ngIf="firstnameInput.hasError('required')">You must enter a value</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last name" [formControl]="lastnameInput" required>
            <mat-error *ngIf="lastnameInput.hasError('required')">You must enter a value</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? "visibility" : "visibility_off"}}</mat-icon>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Repeat password" [type]="hide ? 'password' : 'text'" required>
          </mat-form-field>
        </div>      
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button>Register</button>
        <a mat-raised-button routerLink="/login">Cancel</a>
      </mat-card-actions>
    </mat-card>
  </div>